{% extends "base.html" %}
{% block content %}
<!-- Hero Image -->
<header class="masthead d-flex align-items-center">
    <div class="container px-4 px-lg-5 text-center">
        <h1 class="mb-1">Lila Harz</h1>
        <h3 class="mb-5"><em>Collections</em></h3>
    </div>
</header>

{% for product in products %}

<section class="content-section" id="portfolio">
    <div class="container px-4 px-lg-5">
        <div class="content-section-heading text-center">
                <div class="col mb-5">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ product.image_source }}" class="card-img-top mx-auto image-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.product_name }}</h5>
                            <p class="lead md-5">{{ product.description }}</p>
                            <p class="text-muted">{{ product.price}}</p>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}

{% endblock %}